{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "usage",
            "corejs": "3",
            "targets": {
                "browsers": [
                    "last 5 versions",                          //which versions u want to convert back to ES-5
                    "ie >= 8"
                ]
            }
        }]
    ]
}